<div class="bigpage show">
 
 <div class="dealid">
  Deal #<%= offer.uuid %>
 </div>

 <div class="terms">
   <div class="progress">
     <div class="amount">
      <%= offer.btc %> BTC
     </div>
     <div class="delivery_address">
       Delivery address: <%= offer.btc_receiving_address %>
     </div>
     <% if btc_tx %>
     <div>
       <%= btc_tx.size %> bitcoin transactions received
       <ul>
         <% btc_tx.each do |t| %>
          <li> 
            <%=t.category%> <%=t.amount%> <%=t.confirmations%> 
            <% if t.category == "receive" %>
            <form action="btc_refund" method="post">
              <input type="hidden" name="uuid" value="<%=offer.uuid%>">
              <input type="hidden" name="txid" value="<%=t.txid%>">
              <input name="tobitcoinaddress" size="32" placeholder="receiving bitcoin address">
              <input type="submit" value="Refund">
            </form>
            <% end %>
          </li>
         <% end %>
       </ul>
     </div>
     <% else %>
     <div>
       bitcoind failure
     </div>
     <% end %>
   </div>
   <div class="progress">
     <div class="amount">
      $<%= offer.usd %> USD
     </div>
     <div class="delivery_address">
       Delivery address: <%= DWOLLA.receiving_address %>
     </div>

     <% if offer.dwolla_receiving_address %>
     <div class="delivery_address">
       Delivered from address: <%= offer.dwolla_receiving_address %>
     </div>
     <% end %>
     <form action="dwolla_from" method="post"> 
      Delivered from dwolla account: <input name="dwolla_receiving_address">
      <input type="hidden" name="uuid" value="<%=offer.uuid%>">
      <input type="submit" value="Dwolla Transfer">
     </form>
   </div>
 </div>
</div>


