<div class="bigpage show">
 
 <div class="dealid">
  Deal #<%= offer.uuid %>
 </div>

 <div class="terms">
   <div class="progress">
     <div class="amount">
      <%= offer.btc %> BTC
     </div>
     <div class="received">
       Received: no
     </div>
     <div class="delivery_address">
       Delivery address: <%= offer.btc_receiving_address %>
     </div>
   </div>
   <div class="progress">
     <div class="amount">
      <%= offer.usd %> $USD
     </div>
     <div class="received">
       Received: no
     </div>
     <div class="delivery_address">
       Delivery address: <%= DWOLLA["receiving_address"] %>
     </div>
   </div>
 </div>
</div>


