<div class="bigpage show">
 
 <div class="dealid">
  Deal #<%= offer.uuid %>
     <div class="amount">
      <%= offer.btc %> BTC
      &lt;--&gt;
      $<%= offer.usd %> USD
     </div>
 </div>

 <div class="terms">
   <div class="progress">
     <div class="delivery_address">
       Escrow Bitcoin address: <%= offer.btc_receiving_address %>
     </div>
     <% if btc_tx %>
     <div>
       <%= btc_tx.size %> bitcoin transactions received
       <ul>
         <% btc_tx.each do |t| %>
          <li> 
            <%=t.category%> <%=t.amount%> <%=t.confirmations%> 
            <% if t.category == "receive" %>
            <form action="btc_refund" method="post">
              <input type="hidden" name="uuid" value="<%=offer.uuid%>">
              <input type="hidden" name="txid" value="<%=t.txid%>">
              <input name="tobitcoinaddress" size="32" placeholder="receiving bitcoin address">
              <input type="submit" value="Refund">
            </form>
            <% end %>
          </li>
         <% end %>
       </ul>
     </div>
     <% else %>
     <div>
       bitcoind failure
     </div>
     <% end %>
   </div>
   <div class="progress">
     <div class="delivery_address">
       Escrow Dwolla account: <%= DWOLLA.receiving_address %>
     </div>

      <% if offer.usd_paid? %>
        Paid. Transaction id #<%= offer.dwolla_tx_id%>
      <% else %>
       <form action="dwolla_from" method="post"> 
        Initiate transfer: 
        <input type="hidden" name="uuid" value="<%=offer.uuid%>">
        <input type="submit" value="Dwolla Transfer">
       </form>
     <% end %>
   </div>
 </div>
</div>


